
  /*--------------------*/
.cards-item{
  width: 100%;
  height: 350px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 50px rgba(0,0,0,0.3);
  cursor: pointer;
  padding: 20px;
  margin: 10px;
}
 
.cards-item img{
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: fill;
  transition: all 1s;
}

.cards-item .para{
  margin-top: 35px;
  opacity: 0;
  overflow: auto;
}

.info{
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 15px;
  width: 100%;
  background: #8D0B41;
  transition: all 1s;
}

.name{
  font-size: 20px;
  font-weight: 600;
  color: #f9f9f9;
}
.role{
  font-size: 16px;
  font-weight: 400;
  color: #e9e7e7;
}
.cards-item:hover a{
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 0 0 10px 10px;
  background-color: #8D0B41;
  color: white;
}

.cards-item:hover img{
  display: none;
}

.cards-item:hover .info{
  top: 0;
  left: 0;
  height: 50px;
  background-color: #8D0B41;
  border-radius: 0;
}
.cards-item:hover .info .role{
  display: none;
}

.cards-item:hover .para{
  animation: fadeUp 1s forwards;
}
@keyframes fadeUp {
  from{
    opacity: 0;
    transform: translateY(200px);
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
} 
