main{
    height: 60vh;
}
#home{
  position: relative;
  top: 100px;
  height: 90vh;
}
.icons{
  color: #8D0B41;
  transition: all 200ms;
}
.icons:hover{
  transform: scale(1.3);
}
@media screen and (max-width:992px){
  main{
    height: 90vh;
  }
}