#course .col{
    transition: all 0.9s; 
    border: 1px solid #8D0B41;
    border-radius: 10px;
    }
    #course .col:hover{
      color: white;
      background-color: #8D0B41;
      transform: scale(1.03);
      overflow: hidden;
      text-transform: capitalize;
      letter-spacing: 1px;
      }